.skills-page-container {
  height: 80%;
}

.skills-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
}

.skills-page-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%
}

@media (max-width: 530px) {
  .skills-list {
    flex-direction: column;
    justify-content: space-around;
  }
  .skill-title {
    width: 80%;
    margin: auto;
  }
  .skills-page-content {
    display: block;
  }
}

@media (max-height: 530px) {
  .skills-page-container {
    height: 100%;
  }
}