
#portfolio-navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #181818;
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;
}

@media (max-width: 960px) {
  #portfolio-navbar {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    min-height: 0;
  }
}


.burger-menu-icon {
  visibility: hidden;
  float: right;
}

@media (max-width: 530px) {
  #portfolio-navbar {
    position: fixed;
  }
  .hide-navigation-icons {
    display: none;
  }
  .burger-menu-icon {
    visibility: visible;
  }
  .home-and-burger-container {
    height: 100%;
  }
}



