:root {
  --light-blue-color: #2196F3;
  --baby-blue-color: #44C6FF;
  --blue-color-dark: #19579E;

  --white-color: #FFFFFF;
  --red-color: #bd0826;
  --green-color: #58C17A;
  --orange-color: #F44336;
  --yellow-color: #FDD910;

  --black-color: #000000;
  --light-grey-color: #EEEEEE;
  --dark-grey-color: #333333;
  --grey-color: #CCCCCC;
}

@font-face {
  font-family: Prime;
  src: url(assets/fonts/Prime.otf);
}

p {
  font-family: "Open Sans", sans-serif;
  width: 80%;
  margin: 10px auto;
  text-align: justify;
}

.App {
  text-align: center;
}

.title {
  color: var(--red-color);
  font-size: 50px;
  font-family: Prime;
}

#portfolio-body {
  color: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #252627;
  overflow-x: scroll;
}

@media (max-width: 960px) {
  /* #portfolio-body {
  } */
}

@media (max-width: 530px) {
  /* #portfolio-body {
  } */
  .title {
    margin-top: 70px;
    margin-bottom: 0px;
    font-size: 40px;
  }
}
